@font-face {
  font-family: 'Product-sans';
  url('/font/ProductSans-regular.ttf')  format('truetype');
}

*{
  font-family: 'Product-sans','Montserrat', sans-serif;
}

.white {
  background-color: #d6d6d6;
  z-index: -1;
}

.black {
  background-color: #3a3a3a;
  z-index: -1;
}

input {
  z-index: 1;

}

td{
  height: 66;
  width: 66;
}

body {
  background-color: lavender;
  margin: 0;
}

table {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
  text-align: center;
}

footer {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  bottom: 0px;
  margin-top: 8.7%;
}

#undo {
text-align: center;
position: fixed;
left: 81.7%;
top: 45%;
}

#reset {
position: fixed;
left: 80%;
top: 50%;
}
