@font-face {
  font-family: 'Product-sans';
  url('/font/ProductSans-regular.ttf')  format('truetype');
}

*{
  font-family: 'Product-sans','Montserrat', sans-serif;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

body {
  background-color: lavender;
}
